# Driver Lifetime Value
source: https://platform.stratascratch.com/data-projects/driver-lifetime-value

In [66]:
import pandas as pd
import numpy as np

In [4]:
driver = pd.read_csv("./datasets/driver_ids.csv")
ride = pd.read_csv("./datasets/ride_ids.csv")
ridets = pd.read_csv("./datasets/ride_timestamps.csv")

print(driver.info())
print(ride.info())
print(ridets.info())

ridets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   driver_id            937 non-null    object
 1   driver_onboard_date  937 non-null    object
dtypes: object(2)
memory usage: 14.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193502 entries, 0 to 193501
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   driver_id        193502 non-null  object
 1   ride_id          193502 non-null  object
 2   ride_distance    193502 non-null  int64
 3   ride_duration    193502 non-null  int64
 4   ride_prime_time  193502 non-null  int64
dtypes: int64(3), object(2)
memory usage: 7.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970405 entries, 0 to 970404
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ride_id    970405 non-null  object
 1   event      970405 non-null  object
 2   timestamp  970404 non-null  object
dtypes: object(3)
memory usage: 22.2+ MB
None

                                 ride_id           event            timestamp
0       00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1       00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2       00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3       00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4       00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05
...                                  ...             ...                  ...
970400  ffffccd77f47a3de26dfed9a851464b4    requested_at  2016-05-18 08:44:13
970401  ffffccd77f47a3de26dfed9a851464b4     accepted_at  2016-05-18 08:44:21
970402  ffffccd77f47a3de26dfed9a851464b4      arrived_at  2016-05-18 08:44:36
970403  ffffccd77f47a3de26dfed9a851464b4    picked_up_at  2016-05-18 08:44:42
970404  ffffccd77f47a3de26dfed9a851464b4  dropped_off_at  2016-05-18 09:11:37

[970405 rows x 3 columns]

### (1) Feature engineering

In [32]:
# Pivot ride timestamps
ridets["timestamp"] = pd.to_datetime(ridets["timestamp"])
ridets_pivot = (
    ridets.pivot(index="ride_id", columns="event", values="timestamp")
    .reset_index()
    .assign(
        request_to_accept=lambda x: (x.accepted_at - x.requested_at).dt.total_seconds(),
        pickup_to_dropoff=lambda x: (x.dropped_off_at - x.picked_up_at)
        / pd.Timedelta(minutes=1),
    )
)

In [57]:
# Merge driver, ride and ride_ts
trips = ride.merge(ridets_pivot, on="ride_id", how="inner", validate="1:1").merge(
    driver, on="driver_id", how="inner", validate="m:1"
)
print(f"{driver.shape=} {ride.shape=} {ridets_pivot.shape=} {trips.shape=}")

driver.shape=(937, 2) ride.shape=(193502, 5) ridets_pivot.shape=(194081, 8) trips.shape=(184209, 13)

In [71]:
# Calculate fares
trips = trips.assign(
    bare_fare=lambda x: (
        2 + 0.22 * x.ride_duration / 60 + 1.15 * x.ride_distance / 1609.34
    )
    * (100 + x.ride_prime_time)
    / 100
    + 1.75,
    final_fare=lambda x: np.minimum(400, np.maximum(5, x.bare_fare)),
)

In [72]:
trips.columns

Index(['driver_id', 'ride_id', 'ride_distance', 'ride_duration',
       'ride_prime_time', 'accepted_at', 'arrived_at', 'dropped_off_at',
       'picked_up_at', 'requested_at', 'request_to_accept',
       'pickup_to_dropoff', 'driver_onboard_date', 'fare', 'bare_fare',
       'final_fare'],
      dtype='object')

In [75]:
# Active days
# Total trips
# Total distance
# Total duration
# Tenure
# Average trips per day
# Average distance per day
# Average duration per day
# Average distance per trip
# Average prime time per day
# Average speed
# Dominant working hours: Morning, Afternoon, Evening, Night

driveragg = (
    trips.assign(active_date=lambda x: x.accepted_at.dt.date)
    .groupby("driver_id", as_index=False)
    .agg(
        active_days=("active_date", "nunique"),
        total_trips=("ride_id", "nunique"),
        total_distance=("ride_distance", "sum"),
    )
)