# Partner Business Modeling
source: https://platform.stratascratch.com/data-projects/partner-business-modeling

In [1]:
import pandas as pd

In [6]:
drivers = pd.read_csv("./datasets/dataset.csv")

print(drivers.info())
drivers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             119 non-null    object
 1   Trips Completed  119 non-null    int64
 2   Accept Rate      119 non-null    object
 3   Supply Hours     119 non-null    int64
 4   Rating           119 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.8+ KB
None

         Name  Trips Completed Accept Rate  Supply Hours  Rating
0       Abdul                1        100%             3     4.8
1     Abraham               12         83%             5     4.7
2     Adelina                1        100%             2     4.7
3      Akilah                1        100%             2     4.9
4        Alec               21         76%            11     5.0
..        ...              ...         ...           ...     ...
114    Virgen                4        100%             6     4.5
115      Yang                7         71%             2     4.5
116  Yessenia                8         88%             5     5.0
117    Yukiko                9         78%             6     4.5
118       Zoe               21         86%             9     4.9

[119 rows x 5 columns]

### (1) How much would the total bonus payout be with option 1
Option 1: $50 for each driver that is online at least 8 hours, accepts 90% of requests, completes 10 trips, and has a rating of 4.7 or better during the time frame

In [20]:
# Convert XY% string to float
drivers["accept_rate"] = drivers["Accept Rate"].str.replace("%", "").astype(int) / 100
df = drivers[
    (drivers["Supply Hours"] >= 8)
    & (drivers["Accept_rate"] >= 0.9)
    & (drivers["Trips Completed"] >= 10)
    & (drivers["Rating"] >= 4.7)
]

option1_bonus = df.Name.count() * 50
print(f"{option1_bonus=}")

option1_bonus=1050

### (2) How much would the total bonus payout be with option 2
Option 2: $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating

In [42]:
df2 = drivers[(drivers["Trips Completed"] >= 12) & (drivers["Rating"] >= 4.7)]
option2_bonus = df2["Trips Completed"].sum() * 4
print(f"{option2_bonus=}")

option2_bonus=2976

### (3) How many drivers would qualify for a bonus under Option 1 but not under Option 2?

In [24]:
x1 = df.Name.count()
x2 = df[df["Trips Completed"] >= 12].Name.count()
print(f"{x1-x2}")

2

### (4) What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?

In [30]:
y1 = drivers[
    (drivers["Trips Completed"] < 10)
    & (drivers["accept_rate"] < 0.9)
    & (drivers["Rating"] >= 4.7)
]

pct = round(y1.Name.count() / drivers.Name.count() * 100, 2)

print(f"pct = {pct}%")

pct = 10.92%

### (5) How much money (after expenses) does the taxi driver make per year without partnering with Uber?

In [37]:
Revenue = 200 * 6 * (52 - 3)
Expenses = (200 + 500) * (52 - 3) + 400 * 12
Income = Revenue - Expenses
print(f"{Revenue=}, {Expenses=}, {Income=}")

Revenue=58800, Expenses=39100, Income=19700

### (6) You are convincing the same driver above to buy a Town Car and partner with Uber. Assuming the new car is 40,000 USD, how much would the driver's gross fares need to increase per week to fully pay for the car in year 1 and maintain the same yearly profit margin as before?

In [39]:
Expenses2 = (200 * 1.05) * (52 - 3) + 400 * 0.8 * 12
Required_Revenue = Income + 40000 + Expenses2
weekly_increase = Required_Revenue / (52 - 3) - 200 * 6
print(f"{Expenses2=}, {Required_Revenue=}, {weekly_increase=}")

Expenses2=14130.0, Required_Revenue=73830.0, weekly_increase=306.7346938775511