# Capital One - Baby names
source: https://platform.stratascratch.com/data-projects/baby-names

In [34]:
import pandas as pd
import seaborn as sns
import numpy as np

In [22]:
states = [
    "AL",
    "AK",
    "AZ",
    "AR",
    "CA",
    "CO",
    "CT",
    "DC",
    "DE",
    "FL",
    "GA",
    "HI",
    "ID",
    "IL",
    "IN",
    "IA",
    "KS",
    "KY",
    "LA",
    "ME",
    "MD",
    "MA",
    "MI",
    "MN",
    "MS",
    "MO",
    "MT",
    "NE",
    "NV",
    "NH",
    "NJ",
    "NM",
    "NY",
    "NC",
    "ND",
    "OH",
    "OK",
    "OR",
    "PA",
    "RI",
    "SC",
    "SD",
    "TN",
    "TX",
    "UT",
    "VT",
    "VA",
    "WA",
    "WV",
    "WI",
    "WY",
]

babynames = pd.DataFrame()
for i in states:
    print(f"Reading {i}.TXT")
    cur_state = pd.read_csv(
        f"./datasets/{i}.TXT",
        names=["state", "sex", "year", "name", "freq"],
    )

    babynames = pd.concat([babynames, cur_state], axis=0)

Reading AL.TXT
Reading AK.TXT
Reading AZ.TXT
Reading AR.TXT
Reading CA.TXT
Reading CO.TXT
Reading CT.TXT
Reading DC.TXT
Reading DE.TXT
Reading FL.TXT
Reading GA.TXT
Reading HI.TXT
Reading ID.TXT
Reading IL.TXT
Reading IN.TXT
Reading IA.TXT
Reading KS.TXT
Reading KY.TXT
Reading LA.TXT
Reading ME.TXT
Reading MD.TXT
Reading MA.TXT
Reading MI.TXT
Reading MN.TXT
Reading MS.TXT
Reading MO.TXT
Reading MT.TXT
Reading NE.TXT
Reading NV.TXT
Reading NH.TXT
Reading NJ.TXT
Reading NM.TXT
Reading NY.TXT
Reading NC.TXT
Reading ND.TXT
Reading OH.TXT
Reading OK.TXT
Reading OR.TXT
Reading PA.TXT
Reading RI.TXT
Reading SC.TXT
Reading SD.TXT
Reading TN.TXT
Reading TX.TXT
Reading UT.TXT
Reading VT.TXT
Reading VA.TXT
Reading WA.TXT
Reading WV.TXT
Reading WI.TXT
Reading WY.TXT

#### What is the most popular name of all time? (Of either gender.)
Answer: James

In [ ]:
babynames.groupby("name", as_index=False).freq.sum().sort_values(
    "freq", ascending=False
)

           name     freq
13374     James  5054074
14747      John  4910976
25279    Robert  4763102
21365   Michael  4396482
31023   William  3939912
...         ...      ...
48       Aamori        5
26        Aalam        5
46      Aamirah        5
41       Aamani        5
38     Aalliyah        5

[32403 rows x 2 columns]

#### What is the most gender ambiguous name in 2013? 1945?

In [38]:
pct = (
    babynames.pivot_table(
        columns="sex",
        index=["year", "name"],
        values="freq",
        aggfunc="sum",
        fill_value=0,
    )
    .reset_index()
    .assign(
        F_pct=lambda x: x.F / (x.F + x.M),
        M_pct=lambda x: x.M / (x.F + x.M),
        min_pct=lambda x: np.minimum(x.F_pct, x.M_pct),
    )
)

pct.query("year == 2013").nlargest("min_pct", 1, keep="all")

KeyError: 1